/*
1.header
    .header
2.section
    .boxes
3.footer

*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;        
}

body {
    background-image:url(img/space.jpg);
    background-size: cover;
}

/*----------second page---------*/
iframe {
    width: 100%;
    height: 100vh;
}

/*-------------main-------------*/

main {
    width: 800px;
    margin: 0 auto;
}

/*------------header------------*/

header {
    height: 50px;
    display: flex;
    background-color: rgb(196, 89, 89);
    justify-content: space-between;
    
}

.header {
    display: flex;
}

.header img {
    display: flex;
    width: 35px;
    margin: 15px;
}

h1 {
    padding: 2px 0 0 0;
}

h1 span {
    color: rgb(251, 255, 2);
}

h1 a{
    color:rgb(0, 0, 0);
    font-size: 20px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-transform: uppercase;
}
nav ul li a {
    color:rgb(255, 255, 255);
    text-transform: uppercase;
}
nav ul li a:hover {
    color: rgb(255, 230, 0);
}

nav ul {
    display: flex;
    padding: 15px 0 0 0;    
    list-style: none;
    margin: 0 40px 0 0;
}

li {
    margin: 0 30px 0 0;    
    text-align: center;
    padding: 0 0 0 0;
}

/*------------body------------*/

section {
    height: 500px;
    text-align: center;
    justify-content: space-between;
    padding: 50px 0 0 0;
}

section img {
    width: 235px;
}

section p {
    margin: 15px;
    color: white;
}

.box1 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.boxes1 {
    padding-bottom:0 0 0 20px;
    background-color: rgb(196, 89, 89);
}

.boxes2 {
    padding-bottom:0 0 0 20px;
    background-color: rgb(196, 89, 89);
}

.boxes3 {
    padding-bottom:0 0 0 20px;
    background-color: rgb(196, 89, 89);
}

.boxes4 {    
    padding-bottom:0 0 0 20px;
    background-color: rgb(196, 89, 89);
}

.boxes5 {
    padding-bottom:0 0 0 20px;
    background-color: rgb(196, 89, 89);
}

.boxes6 {
    padding-bottom:0 0 0 20px;
    background-color: rgb(196, 89, 89);
}


.box2 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/*------------footer------------*/

footer {
    height: auto;
    background-color: rgb(196, 89, 89);
    text-align: center;
    padding: 30px;
    margin: 0 0 0 0;
}

footer p {
    color: rgb(255, 255, 255);
}

